body {
  margin:0;
  padding:0;
  margin-top:8.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color:black;
    color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ham-button{
  border-style: none;
  background-color:transparent;
  font-size: 30px;
  position:relative;
}
.nav{
  color: red;
  position:fixed;
  width:0%;
  margin-left:3%;
  font-size:28px;
  font-family: cursive;
  }
.navbar-contents{
  display:flex;
  align-items: center;
  position:absolute;
  justify-content:space-between;
 border-bottom:1px solid rgb(209, 203, 203);
 width:100vw;
 max-height:max-content;

}
.search-icon{
  display:flex;
  justify-content: center;
  align-content: center;
  position:absolute;
  bottom:10px;
  margin-top:1%;
  
}

.search{
  display:flex;
  justify-content: center;
  width:30vw;
  height:auto;
 border-radius:20px;
 margin-top: 10%;
}
.carousel-hero::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:80vh;
}



.carousel-hero img{
opacity:0.6;
background-color:black;
position:relative;
z-index:1;
width:100%;
height:80vh;

}
.carousel-hero{
  margin-top:15vh;
  height:80vh;
}

.cart-icon{
  display:flex;
  align-items:center;
 gap:20px;
margin-right:2%;
}
.cart-badge{
  position:absolute;
  background-color:red;
  display:flex;
  align-items: center;
  justify-content:center;
  width:50%;
  height:50%;
  border-radius:50%;
  top:-10px;
  right:0;
  font-size:15px;
  color:white;
}
.cart-fill{
  position:relative;
  display:inline-block;
}


 
.sidebar{
  top:0;
  left:0;
  height:100%;
  width:30%;
  background-color:whitesmoke;
  transition: transform 0.3s ease;
  cursor: pointer;
  position:fixed;
  z-index:1000;
  color:rgb(7, 34, 43);
} 

.link{
  color:black;
  font-weight:400;
}
.link-active{
  color:red;
}


span{
  color:black;
  font-size:18px;
  margin-top:15%;
}

.fas fa-search{
  font-size: 20px;
}

 
a{
  text-decoration: none;
  color:white;
  font-size:20px;
}
.cardborder{
  height:55vh;
  width:99%;
  background:linear-gradient(to bottom, white, white, white, red) ;
  display:flex;
  border:1px solid rgb(34, 33, 33);

}
.cardborder-img{
  height:55%;
  width:100%;
  transition:transform 0.9 ease-in-out;
}

.cardborder img:hover{
  transform:scale(1.2);
}

.add-icon{
  margin-top:50%;
  color:none;
  background-color:limegreen;
  border-radius:10px;
  position:relative;
   left:1%;
  
}


.brands{
  width:70%;
  height:100%;
  border-radius:50px;

}
.brands-container{
 margin-left:5%;
background-color:none;
width:90%;
column-gap: 0px;
border-radius: 0px;
margin-top:8%;
margin-bottom:10%;
}
.image-container{
  position: relative;
  text-align: center;
  color: white;
}

.drinks-images{
  width:90%;
  height:30vw;  
}
.drinks-images:hover{
  opacity:0.5;
}
.sweetsour-images{
  height:60%;
  width:80%;

}
.container{
  position:relative;
  text-align:center;
  color:white;
}

.top-right{
  position:absolute;
  top: 8px;
  left:16px;
  background-color:red;

}

.drinksimage, .drinksimage2, .crisps-image{
  width:19vw;
}

.drinksimage2{
  opacity:0.5;
}
.crisps-image{
height:40vh;
}
.crispy-background{
  background-color:none;

}
.grid-container{
  width:100%;
}

.grid-div{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  grid-column-gap:1px;  
width:100%;
}
.grid-div img{
  height:60%;
}
.link{
  margin-bottom:15vh;

}
.image-description img{
  height:75vh;
  width:30vw;
}
.price-title{
  color:red;
  font-size:15px;
} 
.price{
  color:black;
  font-size:12px;
}
.grid-div1{
  display:grid;
  grid-template-columns: repeat(5,0.5fr);
  grid-column-gap: 1px;
  margin-top:9%;
  margin-left:10%;
  margin-right:10%;
  }
.grid-div1 img{
  height:55%;
  width:90%

}
.hero-banner{
  margin-top:5%;
  height:50vh;
  width:33.3%;
}
.hero-title{
  display:flex;
  color:whitesmoke;
  background:linear-gradient(to right, red, orange);
  width:15%;
  font-family:cursive;
  font-size:20px;
}

.grid-div>button{
  width:0%;
  
}
.cartItems{
height:30%;
width:25%;
}
.cart-sum{
  background-color:rgb(223, 46, 46);
  width:100%;
  height:10vh;
  color:white;
  font-weight:500;
  font-size:larger;
  display:flex;
  justify-content:center;
  align-items:center;
}
.checkout{
  background-color:white;
  height:5vh;
  font-size:16px;
  color:darkgreen;
  border-radius:20px;
}
.clear-cart{
  background-color:red;
  height:5vh;
  font-size:16px;
  color:white;
  border-radius:20px;
}
.cart-button{
  background-color:limegreen;
  border-radius:20px;
  width:20vw;
  height:5vh;

}
.cart-button2{
  width:3vw;
  background-color:red;

}
.description-image{
  width:55%;
  height:6vh;
  

}

.category-page{
  background-color:whitesmoke;
}

.carousel-container{
  margin-left:5%;
  width:90%;
  position:relative;
  z-index:999;
}
.navbar{
  background:linear-gradient(to bottom,white,white, black);
  height:13vh;
  position:fixed;
  top:0;
  display: flex;
  flex-direction:column;
  align-items:center;
  
  z-index:3000;
  width:100%;
}

.but{
  background-color:darkgreen;
  font-style: italic;
  border-style: none;
  font-size: 15px;
  width:100%;
}

.but:hover{
  background-color: red;
}
.description{
  width:50%
}
.item-price{
font-size:15px;
margin-bottom:2%;
}

h4,h3{
  color:white;
  font-size:15px;
  display:flex;
}
h9{
  font-size:13px;
  color:white;
  margin-top:0%;
  margin-bottom:0%;
  background-color:red;
  border-radius:20px;

}
.span-flex{
  color:yellow;
  font-size:14px;
  font-style:italic;
  font-weight: 100;
}
.span-flex2{
  color:white;
  font-size:14px;
}
.Item-name{
  width:100%;
  font-size:14px;
  height:5%;
}
.span-flex3{
  color:red;
  font-size:14px;
}
h5{
  font-size:16px;
  font-weight: 400;
}
.description-page{
  display:grid;
  grid-template-columns:1fr 1fr;
}

.checkout-page{
  display:grid;
  grid-template-columns:1fr 0fr 0fr;
  column-gap:2px;
}
.add{
  background-color:lime;

}
.remove{
  background-color:red;
}
.check-span{
  color:white;
  font-size:16px;
  color:red;
}
.cart-text{
  font-size:14px;
  color:yellow;
}
.cart-name{
  font-size:13px;
  color:white;
}
.form{
  background-color:white;
  margin-left:20%;
  width:50vw;
  display:flex;
  justify-content: center;
  position: center;
  align-items: center;
  height:85vh;
}
.title-login{
  color:red;
  font-size:35px;
}
.description-header{
  color:yellow;
  font-style:cursive;
  text-decoration:underline;
}
.text-box{
  background: transparent;
    border: none;
    color:black;
    border-bottom: 1px solid #f1efef;
    margin-bottom:20%;
    width:120%;
    font-size:15px;
}
.text-box:focus{
  outline: none;
  border-bottom: 1px solid #000;
}
.login-textbox{
  justify-content: center;
  position: relative;
  align-items: center;
  margin-top:5%;
  width:100%;
  height:80%;
  font-weight:700;
  font-size:15px;
}
.login-prompt{
    display:flex; 
    justify-content:center;   
    align-items:center;
}
.login-text{
color:white;
}

.login-page{
  
  height:100vh;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  background-color:black;
  flex-direction:column;
}
.login-container{
  width: 30vw;
  background-color:red;
  border-radius:20px;     
  padding: 20px;
  display:flex;
  justify-content: center;
  align-items:center;
  height:30vh;
  box-shadow: 0 4px 8px rgba(230, 120, 120, 0.9);
  border-radius: 5px;
  text-align: center;
}
.submit-button{
width:100%;
height:5vh;
border-radius:20px;
background-color:green;
color:white;
font-weight:800;
border: 1px solid green;

}
.category-title{
  display:none;
  position: absolute;
  color:white;
  font-weight:600;
  font-style:oblique;
  background-color:red;
  font-size:25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container:hover .category-title{
  display:block;
}
.homeimages-title{
  color:rgb(0, 0, 0);
  font-family:cursive;
  font-size:15px;
  width:100%;
}
.category-name{
font-size:larger;
font-weight:medium;
display:flex;
color:whitesmoke;
background:linear-gradient(to right, red, rgb(99, 4, 78));
width:15%;
font-family:cursive;
font-size:20px;
}

.signup{
font-size:14px;
text-decoration:underline;
color:blue;
}